.footer{
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 1px solid rgba(117, 117, 117, 0.356);
    background-color: #ffffff;

}

.footer p span{
    background-color: rgba(255, 255, 255, 0);
}
