.navbar {
    display: flex;
    padding: 10px;
    background-color: #ffffff;
    justify-content: space-between;
    border-bottom: 1px solid rgba(105, 105, 105, 0.24);
    box-shadow: 2px 2px 5px rgba(122, 122, 122, 0.089);
  }


.navbar ul {
    display: flex;
    align-items:flex-end;
}

.navbar li{
    padding: 10px;
    font-size: 20px;
    border-radius: 6px;
    transition:0.5s;
    list-style: none;
    margin-left: 15px;
}

.navbar li:hover{
  background-color: rgb(83, 180, 88);
}

.navbar a{
    text-decoration: none;
    color: rgb(116, 116, 116);
  }

  .navbar a:hover{
    text-decoration: none;
    color: rgb(255, 255, 255);
  }
