.form_container {
    max-width: 300px;
    background-color: #fff;
    border-radius: 15px;
  }

  .form_container input[type='submit'] {
    border-radius: 8px;
    border: 1px solid rgb(216, 216, 216);
    color: #7b7b7b;
    border: 0.5px solid rgba(150, 150, 150, 0.507);
    min-width: 100px;
    min-height: 2.5rem;
    width: 100%;
    cursor: pointer;
    font-size: 1.1em;
    font-weight: bold;
  }
  
  .form_container input[type='submit']:hover {
    background-color: #6b6b6b;
    color: white;
  }
  
  .form_container p {
    margin-top: 1em;
  }
  
  .form_container h1 p a {
    color: #16479d;
    font-weight: bold;
  }
  
  /* form de pets */
  .preview_pet_images {
    display: flex;
    justify-content: center;
    margin-bottom: 1em;
  }
  
  .preview_pet_images img {
    width: 100px;
    height: 100px;
    margin-left: 1em;
  }