.form_control {
    display: flex;
    flex-direction: column;
    margin-bottom: 1em;
  }
  
  .form_control label {
    margin-bottom: 0.3em;
    font-weight: bold;
    font-size: 15px;
    padding-top: 5px;
    color: rgb(151, 151, 151);
  }

  .form_control input {
    padding: 0.7em;
    border: 1px solid rgb(216, 216, 216);
    border-radius: 5px;
    color: #7b7b7b;
  }
  
  .form_control input::placeholder {
    color: #7b7b7b;
  }
  